	#corpo {
		background-color: black;
	}
	.inputNumero {
		background-color: #181818;
		border: solid 1px white;
		color: white;
		padding: 5px;
		border-radius: 5px;
	}
	.btnGerar {
		padding: 10px;
		border-radius: 15px;
		background-color: black;
		color: white;
		font-weight: bold;
		cursor: pointer;
	}
	.base {
		background-color: #2E2E2E;
		width: 300px;
		height: 300px;
		box-shadow: 0 0 5px white;
		border-radius: 15px;
	}
	#formulario {
		position: relative;
		top: 65px;
	}
	.labelNum {
		color: white;
		font-family: sans-serif;
	}

	p {
		word-break: break-all;
		font-family: sans-serif;
		color: black;
		text-align: center;
		color: white;
	}
	.titulo {
		position: relative;
		top: 40px;
		color: white;
		font-family: sans-serif;
	}